/* add your styles here */
h1{
  text-align: center;
}
.gallery{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-left: 30px;
}
.image{
  width: 700px;
}
.parent{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-left: 30px;
}